body{
    background-color: rgb(255, 255, 255);
}
.principal{
        display: flex;
        justify-content: center;
        margin-top: 8%;
        height: 100%;
        width: 100%;
        align-items: center;
        flex-direction: column;
        
}
.titulo{
    margin-bottom: 15px;
}
.cadastro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 25px;
}
.icone{
    width: 100px;
    height: 100px;
    margin-left: 55px;
    background-color: transparent;
}
.boxNome, .boxEmpresa{
    margin-top: 4px;
    border-radius: 30px;
    border-style: solid;
    width: 69.8%;
    height: 30px;
    padding-left: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: rgb(64, 64, 66);
}
.boxEmail{
    margin-left: 28px;
    margin-top: 4px;
    border-radius: 30px;
    border-style: solid;
    width: 69.8%;
    height: 30px;
    padding-left: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: rgb(64, 64, 66);
}
.boxSetor, .boxCargo{
    margin-top: 4px;
    border-radius: 30px;
    border-style: solid;
    width: 26.5%;
    height: 30px;
    padding-left: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: rgb(64, 64, 66);
}
.boxSetor{
    margin-left: 20px;
    margin-right: -7px;
}
.boxCargo{
    margin-left: 33px;
}
.boxEmpresa{
    margin-left: 10px;
}
.boxNome{
    margin-left: 30px;
}
.nome, .email, .empresa, .setor, .cargo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(64, 64, 66);
}
.setor{
    margin-left: 25px;
}
.botoes{
    margin-left: 39%;
    margin-top: 8px;
}
.cancelar{
    margin: 10px;
    height: 35px;
    width: 120px;
    border-radius: 30px;
    border: none;
    color: rgb(64, 64, 66);
    background-color: transparent;
}

.salvar{
    margin: 10px;
    height: 35px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: rgb(128, 50, 202);
    color: aliceblue;
}
.salvar:hover{
    background-color: rgb(79, 25, 129);
    cursor: pointer;
}

.cancelar:hover{
    background-color: rgb(221, 223, 224);
    cursor: pointer;
}