body{
    background-color: rgb(208, 236, 227);
}
.principal{
    margin: 0vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding:1vh;
    margin: 0vw;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}